<% if current_user.premium? || current_user.admin? %>
  <h3>Add Collaborators</h3>

  <%= form_for [wiki, Collaborator.new] do |c| %>
    <%= email_field_tag :collaborator %>
    <%= c.submit "Add collaborator", class: 'btn btn-primary' %>
  <% end %>
<% end %>