<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Make sure it is true.</li>
      <li>If it isn't true, it should at least be interesting.</li>
      <li>Or funny.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'wikis/form', locals: { wiki: @wiki } %>
    <% if @wiki.private? %>
  		<%= render 'collaborators/form', collaborator: Collaborator.new, wiki: @wiki %>
    <% end %>
  </div>
</div>