<h1>Wikis</h1>
<%= link_to "Create Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %>
<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki_path(wiki.id) %>
      </h4>
    <% end %>
  </div>
</div>